<div class="article-page">

  <!-- Banner for article title, action buttons -->
  <div class="banner">
    <div class="container">

      <!-- Changed ng-bind to Angular interpolation syntax -->
      <h1>{{ article.title }}</h1>

      <div class="article-meta">
        <!-- Show author info + favorite & follow buttons -->
        <!-- Updated to use property binding syntax -->
        <app-article-actions [article]="article"></app-article-actions>
      </div>

    </div>
  </div>

  <!-- Main view. Contains article html and comments -->
  <div class="container page">

    <!-- Article's HTML & tags rendered here -->
    <div class="row article-content">
      <div class="col-xs-12">

        <!-- Changed ng-bind-html to [innerHTML] with sanitization -->
        <div [innerHTML]="article.body | safeHtml"></div>

        <ul class="tag-list">
          <!-- Changed ng-repeat to *ngFor -->
          <li class="tag-default tag-pill tag-outline"
            *ngFor="let tag of article.tagList">
            {{ tag }}
          </li>
        </ul>

      </div>
    </div>

    <hr />

    <div class="article-actions">

      <!-- Show author info + favorite & follow buttons -->
      <!-- Updated to use property binding syntax -->
      <app-article-actions [article]="article"></app-article-actions>

    </div>

    <!-- Comments section -->
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">

        <!-- Changed show-authed directive to *appShowAuthed -->
        <div *appShowAuthed="true">
          <!-- Updated to use property binding syntax -->
          <app-list-errors [errors]="commentForm.errors"></app-list-errors>
          <!-- Changed ng-submit to (submit) -->
          <form class="card comment-form" (submit)="addComment()">
            <!-- Changed ng-disabled to [disabled] -->
            <fieldset [disabled]="commentForm.isSubmitting">
              <div class="card-block">
                <!-- Changed ng-model to [(ngModel)] for two-way binding -->
                <textarea class="form-control"
                  placeholder="Write a comment..."
                  rows="3"
                  [(ngModel)]="commentForm.body"
                  name="comment"></textarea>
              </div>
              <div class="card-footer">
                <!-- Changed ng-src to [src] -->
                <img [src]="currentUser.image" class="comment-author-img" />
                <button class="btn btn-sm btn-primary" type="submit">
                 Post Comment
                </button>
              </div>
            </fieldset>
          </form>
        </div>

        <!-- Changed show-authed directive to *appShowAuthed -->
        <div *appShowAuthed="false">
          <!-- Changed ui-sref to routerLink -->
          <a [routerLink]="['/login']">Sign in</a> or <a [routerLink]="['/register']">sign up</a> to add comments on this article.
        </div>

        <!-- Changed ng-repeat to *ngFor and updated component binding syntax -->
        <app-comment *ngFor="let cmt of comments; let i = index"
          [data]="cmt"
          (deleteComment)="deleteComment(cmt.id, i)">
        </app-comment>

      </div>
    </div>

  </div>

</div>