<!-- comment.html - Upgraded from Angular 1.x to Angular 12 -->
<div class="card">
  <div class="card-block">
    <!-- Replaced ng-bind with interpolation syntax -->
    <p class="card-text">{{ data.body }}</p>
  </div>
  <div class="card-footer">
    <!-- Replaced ui-sref with routerLink directive -->
    <a class="comment-author" [routerLink]="['/profile', data.author.username]">
      <!-- Replaced ng-src with standard [src] binding -->
      <img [src]="data.author.image" class="comment-author-img" />
    </a>
    &nbsp;
    <!-- Replaced ui-sref with routerLink directive and ng-bind with interpolation -->
    <a class="comment-author" [routerLink]="['/profile', data.author.username]">
      {{ data.author.username }}
    </a>
    <span class="date-posted">
      <!-- Replaced ng-bind with interpolation and pipe syntax -->
      {{ data.createdAt | date: 'longDate' }}
    </span>
    <!-- Replaced ng-show with *ngIf directive -->
    <span class="mod-options" *ngIf="canModify">
      <!-- Replaced ng-click with (click) event binding -->
      <i class="ion-trash-a" (click)="deleteCb()"></i>
    </span>
  </div>
</div>