<!-- article-meta.html - Upgraded from AngularJS to Angular 12 -->
<div class="article-meta">
  <!-- Changed ui-sref to routerLink for Angular routing -->
  <a [routerLink]="['/profile', article.author.username]">
    <!-- Changed ng-src to [src] for image binding -->
    <img [src]="article.author.image" />
  </a>

  <div class="info">
    <!-- Changed ui-sref to routerLink and ng-bind to interpolation -->
    <a class="author"
      [routerLink]="['/profile', article.author.username]">
      {{ article.author.username }}
    </a>
    <!-- Changed ng-bind to interpolation and pipe syntax remains similar -->
    <span class="date">
      {{ article.createdAt | date: 'longDate' }}
    </span>
  </div>

  <!-- ng-transclude replaced with ng-content for content projection -->
  <ng-content></ng-content>
</div>