<div class="article-preview">
  <!-- Changed from article-meta to app-article-meta to follow Angular component naming conventions -->
  <app-article-meta [article]="article">
    <!-- Changed from favorite-btn to app-favorite-btn -->
    <!-- Replaced $ctrl references with direct property binding -->
    <app-favorite-btn
      [article]="article"
      class="pull-xs-right">
      {{article.favoritesCount}}
    </app-favorite-btn>
  </app-article-meta>

  <!-- Replaced ui-sref with routerLink for Angular routing -->
  <a [routerLink]="['/article', article.slug]" class="preview-link">
    <!-- Replaced ng-bind with interpolation syntax -->
    <h1>{{article.title}}</h1>
    <p>{{article.description}}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      <!-- Replaced ng-repeat with *ngFor directive -->
      <li class="tag-default tag-pill tag-outline"
        *ngFor="let tag of article.tagList">
        {{tag}}
      </li>
    </ul>
  </a>
</div>