<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <!-- Changed ng-bind to interpolation -->
        <h1 class="text-xs-center">{{ title }}</h1>
        <p class="text-xs-center">
          <!-- Changed ui-sref to routerLink and ng-show to *ngIf -->
          <a [routerLink]="['/login']" 
            *ngIf="authType === 'register'">
            Have an account?
          </a>
          <a [routerLink]="['/register']" 
            *ngIf="authType === 'login'">
            Need an account?
          </a>
        </p>

        <!-- Changed component reference from $ctrl to direct property -->
        <app-list-errors [errors]="errors"></app-list-errors>

        <!-- Changed ng-submit to (submit) event binding -->
        <form (submit)="submitForm()">
          <!-- Changed ng-disabled to [disabled] property binding -->
          <fieldset [disabled]="isSubmitting">

            <!-- Changed ng-show to *ngIf -->
            <fieldset class="form-group" *ngIf="authType === 'register'">
              <input class="form-control form-control-lg"
                type="text"
                placeholder="Username"
                <!-- Changed ng-model to [(ngModel)] for two-way binding -->
                [(ngModel)]="formData.username" 
                name="username" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                type="email"
                placeholder="Email"
                [(ngModel)]="formData.email" 
                name="email" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                type="password"
                placeholder="Password"
                [(ngModel)]="formData.password" 
                name="password" />
            </fieldset>

            <button class="btn btn-lg btn-primary pull-xs-right"
              type="submit">
              <!-- Changed ng-bind to interpolation -->
              {{ title }}
            </button>

          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>